{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": "./app",
      "alias": {
        "utils": "./app/components/utils"
      }
    }]
  ]
}
